<!DOCTYPE html>
<html>
	<head>
		<title>490 alpha | Welcome</title>
		<link rel="stylesheet" href="static/490a.css" type="text/css" />
	</head>
	<body>
	<div id="container">
		<div id="header">
			<a href="http://490a.com"">
				<img src="static/4ninetylogo.png" />
			</a><br><br>
		</div>
		<div id="content">
			Welcome to 490 alpha.<br><br>  We are currently demonstrating some simple communication via the SOAP protocol.<br>
			<ul>
				<li>Visit the <a href="weather">490 alpha weather service SOAP client:</a></li>
				<li>Visit the <a href="soap/?wsdl">490 alpha testing 'hello world' SOAP server WSDL:</a></li>
			</ul>
		</div>
		<div id="footer">
			<p>
				&copy;&nbsp;2011 490 Alpha, LLC. All rights reserved.
			</p>
		</div>
	</div>

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.jundowon.com/" : "http://stats.jundowon.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.jundowon.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

	</body>

</html>
